---
layout: base
---

<header class="section spot-color-primary">
  <div class="section__inner">
    <div class="wrapper flow region">
      <h1 class="text-center">{{ title }}</h1>
    </div>
  </div>
<!-- {% include 'svg/divider-edgy.svg' %} -->
</header>

<article class="region">
  <div class="wrapper flow prose">
    <!-- <h1 class="gradient-text">{{ title }}</h1> -->
    <!-- <h1>{{ title }}</h1> -->
    {{ content | safe }}
  </div>
</article>
