---
layout: base
---

<header class="section spot-color-primary">
  <div class="section__inner">
    <div class="wrapper flow region">
      <h1 class="text-center">{{ title }}</h1>
    </div>
  </div>
<!-- {% include 'svg/divider-edgy.svg' %} -->
</header>

<!--
<article class="region" style="--region-space-top: var(--space-s)">
  <div class="wrapper flow prose"> -->
    <!-- <h2>{{ blog.title }}</h2> -->
    <!-- blog intro text is optional. -->
    <!-- {% if blog.intro %}
    <p>{{ blog.intro }}</p>
    {% endif %} -->
<!--  </div> -->
  <!-- TODO: duplicate of partials/blog.njk -->

<article class="region">
  <div class="wrapper flow prose">
    {{ content | safe }}

<!-- <article class="wrapper region"> -->
  <ul class="grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">

    <li class="card flow overflow-hidden">
      <h2>
        <a href="alimentos_sanos">Producción de Alimentos Sanos</a>
      </h2>
      <p>La producción agroecológica de alimentos sanos, en el marco de la economía popular, con objetivos de seguridad y soberanía alimentari
a.</p>
    </li>

    <li class="card flow overflow-hidden">
      <h2>
        <a href="memoria_historica">La reconstrucción de la memoria histórica</a>
      </h2>
      <p>Durante la década del 40’ se construyó en el predio una fábrica de pólvora que nunca inició su funcionamiento</p>
    </li>

    <li class="card flow overflow-hidden">
      <h2>
        <a href="organizacion_comunitaria">La organización comunitaria, el desarrollo socio-cultural y la formación popular</a>
      </h2>
      <p>Trabajadores Unidos por la Tierra (TRAUT) es una organización de trabajadoras y trabajadores rurales del sur de Córdoba.</p>
    </li>

    <li class="card flow overflow-hidden">
      <h2>
       El cuidado del territorio y los bienes comunes 
      </h2>
      <p>Especialmente el cuidado del río y del monte nativo (en la provincia de Córdoba queda solamente el 3%), por lo que se promueve la cre
ación de un Área Campesina en la totalidad del predio, de modo que el mismo no pueda ser utilizado con fines que pongan en riesgo la flora y l
a fauna nativa, sino que toda actividad que se desarrolle sea en el marco del cuidado del territorio.</p> 
    </li>

    <li class="card flow overflow-hidden">
      <h2>
       El acompañamiento a personas con consumo problemático de sustancias 
      </h2>
      <p>El edificio de la ex-Mayoría está siendo recuperado de manera conjunta con el Hogar de Cristo – Centro Barrial Madre de la Esquina (b
arrio Suárez, Córdoba capital) como espacio destinado específicamente a este fin.</p> 
    </li>

  </ul>
<!-- </article> -->

  </div>
</article>

</article>
