{% set activePage = page.url | url %}

<footer class="site-foot" role="contentinfo">
  <div class="wrapper">
    <div class="site-foot__inner">
      <nav id="footernav" class="site-foot__inner" aria-label="Footer">

        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/deed.es"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
        
        {% year %} <a href="/" {% if activePage === '/' %} aria-current="page" {% endif %}>{{ meta.siteName }} </a>

        {% for item in navigation.bottom %}

        <a
          href="{{ item.url }}"
          {{
          helpers.getLinkActiveState(item.url,
          page.url)
          |
          safe
          }}
          >{{ item.text }}</a
        >

        {% endfor %}
      </nav>

      <nav id="social" class="site-foot__inner" aria-label="Social links">
        {% for item in social %}

        {% if item.platform == "rss" %}
        <a href="{{ meta.url }}/{{ locale }}{{ item.url }}" rel="alternate" type="application/rss+xml">
        {% else %}
        <a href="{{ item.url }}" rel="me">
          {% endif %}
          <span class="sr-only">{{ item.platform }}</span>
          <div aria-hidden="true">{% include 'icons/social-' + item.icon %}</div>
          </a
          >
        {% endfor %}


        </nav>

    </div>
  </div>

  <!-- lang menu -->
</footer>


